html {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    margin-top: 40px;
    max-width: 1280px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    width: 25rem;
    height: 15rem;
    background-color: red;
}

.card__front {
}

.card__back {
    margin-left: 200px;
}